.user-info-wrapper {
    display: flex;
    gap: 40px;
}

.user-info-subwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info-photo {
    --size: 220px;
    width: var(--size);
    height: var(--size);

    border-radius: 50%;

    object-fit: cover;
    background-color: #fcfffe;
    box-shadow: 0 0 40px var(--gray-light);
}

.service-user-wrapper {
    display: flex;
    flex-direction: column;

    padding: 35px;
    border-radius: 15px;
    border: 2px solid var(--gray-medium);
    transition: all ease 200ms;
}

.service-user-wrapper.with-data:hover {
    border-color: var(--main-light);
    border-radius: 20px;
}

.service-user-option {
    text-align: left;
    background-color: transparent;
    border: none;
    font-size: 1em;
}

.service-user-option:hover {
    text-decoration: underline;
}
