.auth-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    gap: 1.666666667rem;

    margin-inline: auto;
    height: 100dvh;
    padding: 0 15%;
}

.auth-image {
    font-size: 16px;
    width: 30vw;
    min-width: 20rem;
    z-index: 0;
}

.auth-circle-image {
    display: none;
}

@media only screen and (max-width: 1350px) {
    .auth-wrapper {
        padding: 0px 7vw;
        max-width: 90%;
    }
}

@media only screen and (max-width: 1150px) {
    .auth-wrapper {
        grid-template-columns: 1fr;
        padding: 0 !important;
        margin-bottom: 3rem;
        justify-content: space-between;
        height: auto;
        gap: 6.25rem;

        max-width: 98%;
    }
    .auth-image {
        display: none;
    }
    .auth-circle-image {
        display: inherit;
    }
}

@media only screen and (max-width: 950px) {
    .auth-wrapper {
        padding: 0px 4vw;
    }
}
