.debt-wrapper {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.555555556rem;

  padding: 0.555555556rem 0 1.5rem 0;
}

.debt-wrapper.no-border {
  border: none;
}

.debt-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.111111111rem solid var(--gray-medium);
  padding: 1.111111111rem 1.666666667rem;
  border-radius: 0.833333333rem;
  transition: all ease-in 200ms;
}

.debt-item.left {
  align-items: start;
}

.debt-item.increased {
  border-color: var(--main-light);
}

.debt-item.decreased {
  border-color: var(--red);
}

.debt-item.touchable:hover {
  border-radius: 1.5rem;
}

@media only screen and (max-width: 550px) {
  .debt-item {
    width: 100%;
  }
}
