.home-container {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100dvh;
    padding: 3.125rem;
    background-color: var(--second-dark);
}

.home-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 24.777777778rem;
}

.home-sub-container-logo-name-wrapper {
    display: flex;
    align-items: center;
    gap: 0.277777778rem;
}

.home-sub-container-logo-name-wrapper > .home-sub-container-logo > svg {
    fill: var(--main-light);
    width: 7rem;
    height: auto;
}

.home-sub-container-logo-name-wrapper > .home-sub-container-name > svg {
    fill: var(--main-light);
    width: 40rem;
    height: auto;
}

.home-service {
    cursor: default;
    transition: 300ms all ease;
}

.home-service:hover,
.home-service:hover > svg {
    color: var(--white);
    fill: var(--white);
}

@media only screen and (max-width: 492px) {
    .home-sub-container-logo-name-wrapper {
        flex-direction: column;
    }

    .home-sub-container-logo-name-wrapper > .home-sub-container-logo > svg {
        width: 10rem;
    }
    
    .home-sub-container-logo-name-wrapper > .home-sub-container-name > svg {
        width: 25rem;
    }
}

@media only screen and (max-width: 435px) {
    .home-image {
        width: 24rem;
    }
}

@media only screen and (max-width: 375px) {
    .home-image {
        width: 22rem;
    }

    .home-sub-container-logo-name-wrapper > .home-sub-container-logo > svg {
        width: 8rem;
    }
    
    .home-sub-container-logo-name-wrapper > .home-sub-container-name > svg {
        width: 23rem;
    }
}
