.inprogress-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.111111111rem;
    overflow: hidden;

    width: 100%;
    padding: 3.888888889rem 2.777777778rem;
    height: 100dvh;
}

.inprogress-image {
    z-index: 100;

    height: 50vw;
    max-height: 27.777777778rem;

    object-fit: contain;
}