.personal-data-req-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));

    grid-auto-rows: auto;
    gap: 1.111111111rem;
}

.personal-data-req-item {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    max-height: 16.666666667;
    border: 0.111rem solid var(--gray-light);
    border-radius: 0.6rem;
    transition: all ease-in-out 200ms;
}

.personal-data-req-item-header {
    width: 100%;
    padding: 4rem 1rem 1rem 1rem;

    background-color: var(--gray-medium);
    transition: all ease-in-out 200ms;
}

.personal-data-req-item-body {
    display: flex;
    flex-direction: column;
    gap: 0.277777778rem;

    padding: 1rem;
}

.personal-data-req-item:hover {
    border-color: var(--purple-light);
    border-radius: 1rem;
}

.personal-data-req-item:hover > .personal-data-req-item-header {
    background-color: var(--purple-light);
}

.personal-data-req-item:hover .separator-horizontal {
    background-color: var(--second-dark);
}

.personal-data-req-item-name {
    font-size: 1.388888889rem;
    font-weight: 700;
}

.personal-data-req-item-photo {
        width: 100%;
    height: 18.75rem;

    object-fit: cover;

    background-color: var(--gray-light);
}

.personal-data-req-item-aprove {
    position: absolute;
    bottom: 1.666666667rem;
    right: 1.666666667rem;
}

@media only screen and (max-width: 493px) {
    .personal-data-req-wrapper {
        grid-template-columns: 1fr;
    }
}
