.users-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 1.111111111rem;
}

.users-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.111111111rem;

    padding: 1.388888889rem;
    border: 0.111111111rem solid var(--gray-medium);
    border-radius: 0.833333333rem;
    transition: all ease-in 150ms;
}

.users-item.users-disable {
    border-color: var(--yellow);
}

.users-item:hover {
    border-color: var(--main-light);
}

.users-item-photo {
    --size: 11.111111111rem;
    height: var(--size);
    width: var(--size);
    object-fit: cover;

    border-radius: 50%;
    background-color: #ecfaf5;
}

.users-item-role {
    position: absolute;
    bottom: 1.666666667rem;
    right: 1.666666667rem;
}

@media only screen and (max-width: 1550px) {
    .users-item-photo {
        --size: 10rem;
    }
}

@media only screen and (max-width: 1400px) {
    .users-item-photo {
        --size: 9rem;
    }
}

@media only screen and (max-width: 1282px) {
    .users-wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 427px) {
    .users-item {
        flex-direction: column;
    }

    .users-item > * {
        text-align: center;
    }
}