.users-wrapper {
    --width-item: 39.89rem;

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-auto-rows: auto;
    gap: 1.111111111rem;
}

.users-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.111111111rem;

    width: 100%;
    min-width: 0;
    padding: 1.388888889rem;
    border: 0.111rem solid var(--gray-light);
    border-radius: 0.833333333rem;
    transition: all ease-in 200ms;
    box-sizing: border-box;
}

.users-item.users-disable {
    border-color: var(--yellow);
}

.users-item:hover {
    border-color: var(--purple-light);
    border-radius: 1rem;

}

.users-item-photo {
    --size: 11.111111111rem;
    height: var(--size);
    width: var(--size);
    object-fit: cover;

    border-radius: 50%;
    background-color: var(--white-medium);
    box-shadow: 0 0 5px var(--gray-light);
}

.users-item-role {
    position: absolute;
    bottom: 1.666666667rem;
    right: 1.666666667rem;
}

@media only screen and (max-width: 1550px) {
    .users-item-photo {
        --size: 10rem;
    }
}

@media only screen and (max-width: 1400px) {
    .users-item-photo {
        --size: 9rem;
    }
}

@media only screen and (max-width: 1677px) {
    .users-wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 427px) {
    .users-item {
        flex-direction: column;
        padding: 1.388888889rem 1.1rem;
    }

    .users-item > * {
        text-align: center;
    }
}
