.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 95%;
}

.form-container.center {
    align-items: center;
    justify-content: center;
}

.form-sub-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-sub-container.row {
    flex-direction: row;
}

.form-sub-container.align-center {
    align-items: center;
}

.form-sub-container.justify-center {
    justify-content: center;
}

.form-section {
    --padding-field: 1rem;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;

    border: none;
}

.form-section-map {
    overflow: hidden;

    border-radius: 15px;
    border: 1px solid #ddd;
}

.form-section-input {
    width: 100%;
    font-size: 20px;
    padding: var(--padding-field);

    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: var(--white);
}

.form-section > small,
.form-section-message {
    color: var(--red);
    font-size: 17px;
    font-weight: bold;
}

.form-section-input:is(:focus) {
    border: 1px solid #000;
}

.form-section-legend {
    position: absolute;
    left: var(--padding-field);
    top: var(--padding-field);
    z-index: 1000;

    font-size: 1.125rem;
    padding: 0 0.25rem;
    border-radius: 5px;

    color: gray;
    background-color: white;
    transition: all ease-in 150ms;
    pointer-events: none;
}

.form-section-input:is(:focus, :not(:placeholder-shown)) ~ legend,
.form-section-legend.focused {
    top: calc(-1 * (var(--padding-field) - 0.5125rem));
    font-size: 15px;
    font-weight: 700;
    color: var(--focus-color);
}

.form-section.select-item > select {
    appearance: none;
}

.form-section.select-item > svg {
    position: absolute;
    bottom: calc(var(--padding-field) + 5px);
    right: var(--padding-field);
    fill: black;

    height: 15px;
    width: 15px;
}

.form-section-uploader {
    --border-color: var(--gray-medium);
    --background-color: var(--gray-lighter);

    gap: 0px !important;
    position: relative;

    padding: 60px 20px;
    border-radius: 15px;
    border: 3px solid var(--border-color);

    border-style: dashed;
    background-color: var(--background-color);
}

.form-section-uploader.uploading > * {
    color: white !important;
    fill: white !important;
}

.form-section-uploader.uploading {
    --border-color: var(--main-light);
    --background-color: var(--main-light-opacity);
}

.form-section-uploader > svg {
    fill: var(--gray-dark);
}

.form-section-uploaded {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border-radius: 15px;
    border: 1px solid var(--gray-medium);
    background-color: var(--gray-lighter);
}

.form-section-uploaded-image {
    width: 100%;
    border-radius: 15px;

    object-fit: cover;
}

.form-section-uploaded-button {
    position: absolute;
    top: 20px;
    right: 20px;

    background-color: transparent;
    border: none;
}

.form-section-uploaded-button:hover > svg {
    transition: all ease-in-out 200ms;
    fill: var(--red);
}

.form-section-uploaded-button > svg {
    width: 22px;
    height: 22px;
    fill: var(--gray-medium);
}

.deleted-field {
    padding: 20px;
    border: 3px solid var(--red);
    border-style: dotted;
    border-radius: 15px;
}

.form-section-camera-uploader {
    --border-color: var(--gray-light);
    --background-color: var(--gray-lighter);

    position: relative;
    overflow: hidden;

    height: 30vh;
    border-radius: 15px;
    border: 5px double var(--border-color);


    background-color: var(--background-color);
}

.form-section-camera-uploader.open-camera {
    height: 50vh;
}

.form-section-camera-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    cursor: pointer;
}

.form-section-camera-capture-button {
    z-index: 1000;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--white-opacity);
    padding: 20px;
    border: none;
    border-radius: 50%;
    transition: all ease-out 250ms;
}

.form-section-camera-capture-button:hover {
    background-color: var(--white);
}

.form-section-uploaded.circle,
.form-section-camera-uploader.circle {
    padding: 20px 0;
}

.form-section-uploaded.circle > .form-section-uploaded-image,
.form-section-camera-uploader.circle > .form-section-uploaded-image {
    width: 280px;
    height: 280px;

    object-fit: cover;
    border-radius: 50%;
}

.form-section-uploaded-file-pdf {
    width: 100%;
    min-height: 40vh;
    border-radius: 15px;
}