.icon-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-wrapper.center {
    align-items: center;
    justify-content: center;
}

.icon-wrapper.column {
    flex-direction: column;
}

.icon-wrapper.red-icon > svg {
    fill: var(--red);
}

.icon-wrapper.white-icon > svg {
    fill: white;
}

.icon-wrapper.gray-icon > svg {
    fill: var(--gray-dark);
}

.icon-wrapper.green-icon > svg {
    fill: var(--main-light);
}

.icon-wrapper.yellow-icon > svg {
    fill: var(--yellow);
}

.icon-wrapper > svg {
    height: 20px;
    width: 20px;
}

.icon-wrapper.lb > svg {
    height: 25px;
    width: 25px;
}

.icon-wrapper.bg > svg {
    height: 50px;
    width: 50px;
}
