.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;

    height: 100dvh;
    width: 100vw;

    background-color: var(--second-dark);
    pointer-events: none;
}

.loader {
    width: 2.222222222rem;
    height: 2.222222222rem;
    border: 0.375rem solid var(--white);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-gray {
    width: 2.222222222rem;
    height: 2.222222222rem;
    border: 0.375rem solid var(--gray-dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-gray-medium {
    width: 2.222222222rem;
    height: 2.222222222rem;
    border: 0.375rem solid var(--gray-medium);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-green {
    width: 2.222222222rem;
    height: 2.222222222rem;
    border: 0.375rem solid var(--second-dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-green-light {
    width: 2.222222222rem;
    height: 2.222222222rem;
    border: 0.375rem solid var(--main-light);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-black {
    width: 2.222222222rem;
    height: 2.222222222rem;
    border: 0.375rem solid var(--second-dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader.small-loader,
.loader-black.small-loader,
.loader-gray-medium.small-loader,
.loader-gray.small-loader,
.loader-green.small-loader 
.loader-green-light.small-loader {
    width: 1.388888889rem;
    height: 1.388888889rem;
    border-width: 0.25rem;
}

.loader.big-loader,
.loader-black.big-loader,
.loader-gray.big-loader,
.loader-gray-medium.big-loader,
.loader-green.big-loader,
.loader-green-light.big-loader {
    width: 3.333333333rem;
    height: 3.333333333rem;
    border-width: 0.5rem;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[data-state="loading"] > *:not(.loading-section) {
    opacity: 0.6;
    pointer-events: none;
}

.loading-section {
    opacity: 1 !important;
}
