.loader {
    width: 40px;
    height: 40px;
    border: 6px solid var(--white);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}


.loader-gray {
    width: 40px;
    height: 40px;
    border: 6px solid var(--gray-dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-gray-medium {
    width: 40px;
    height: 40px;
    border: 6px solid var(--gray-medium);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-green {
    width: 40px;
    height: 40px;
    border: 6px solid var(--main-light);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader-black {
    width: 40px;
    height: 40px;
    border: 6px solid var(--second-dark);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 700ms linear infinite;
}

.loader.small-loader,
.loader-black.small-loader,
.loader-gray-medium.small-loader,
.loader-gray.small-loader,
.loader-green.small-loader {
    width: 25px;
    height: 25px;
    border-width: 4px;
}

.loader.big-loader,
.loader-black.big-loader,
.loader-gray.big-loader,
.loader-gray-medium.big-loader,
.loader-green.big-loader {
    width: 60px;
    height: 60px;
    border-width: 8px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[data-state="loading"] > *:not(.loading-section) {
    opacity: 0.6;
    pointer-events: none;
}

.loading-section {
    opacity: 1 !important;
}
