.overall {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2000;

    width: 100%;
    height: 100%;

    background-color: var(--second-dark-opacity);
}

.overall.child-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper {
    padding: 50px;
    max-height: 90vh;
    overflow-y: auto;

    border-radius: 15px;
    background-color: var(--white);
}

.popup-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all ease-out 200ms;
}

.popup-close-button:hover {
    transform: scale(1.1);
}
