.overall {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2000;

    width: 100%;
    height: 100%;

    background-color: var(--second-dark-opacity);
}

.overall.child-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-wrapper {
    max-width: 95%;
    padding: 1.2rem;
    max-height: 90vh;
    overflow-y: auto;

    border-radius: 0.833333333rem;
    background-color: var(--white);
}

.zoom-in {
    cursor: zoom-in;
}

.popup-image {
    min-height: 50vh;
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 700px) {
    .popup-wrapper {
        padding: 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .popup-wrapper {
        padding: 1.5rem;
    }
}

.popup-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all ease-out 200ms;
}

.popup-close-button:hover {
    transform: scale(1.1);
}
