.text {
    font-size: 1em;
    font-weight: 500;

    color: var(--pr-color);
}

.text.light {
    font-weight: 300;
}

.text.bigger {
    font-size: 1.5em;
}

.text.big {
    font-size: 1.25em;
}

.text.medium {
    font-size: 1.1em;
}

.text.small {
    font-size: 7.25em;
}

.text.smaller {
    font-size: 0.5em;
}
