.text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--second-dark);
}

.text.bigger {
    font-size: 3.89rem;
}

.text.big {
    font-size: 3.333333333rem;
}

.text.big-medium {
    font-size: 2.777777778rem;
}

.text.big-medium-v2 {
    font-size: 2.222222222rem;
}

.text.big-medium-v3 {
    font-size: 1.666666667rem;
}

.text.big-medium-v4 {
    font-size: 1.388888889rem;
}

.text.medium-big {
    font-size: 1.222222222rem;
}

.text.medium {
    font-size: 1.1rem;
}

.text.small {
    font-size: 0.888888889rem;
}

.text.smaller {
    font-size: 0.777777778rem;
}

.text.bolder {
    font-weight: 900;
}

.text.bold {
    font-weight: 700;
}

.text.normal {
    font-weight: 500;
}

.text.light {
    font-weight: 300;
}

.text.lighter {
    font-weight: 100;
}

.text.underline {
    text-decoration: underline;
}

.text.underline:hover {
    color: var(--second-dark);
}

.text.center {
    text-align: center;
}

.text.gray-dark {
    color: var(--gray-dark);
}

.text.gray-medium {
    color: var(--gray-medium);
}

.text.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--main-light);
}

.text.capitalize {
    text-transform: capitalize;
}
