.text {
    font-size: 1rem;
    font-weight: 500;
}

.text.bigger {
    font-size: 60px;
}

.text.big {
    font-size: 2.5rem;
}

.text.medium-big {
    font-size: 22px;
}

.text.medium {
    font-size: 1.1rem;
}

.text.small {
    font-size: 18px;
}

.text.smaller {
    font-size: 14px;
}

.text.bolder {
    font-weight: 900;
}

.text.bold {
    font-weight: 700;
}

.text.normal {
    font-weight: 500;
}

.text.light {
    font-weight: 300;
}

.text.lighter {
    font-weight: 100;
}

.text.underline {
    text-decoration: underline;
}

.text.center {
    text-align: center;
}

.text.gray-dark {
    color: var(--gray-dark);
}

.text.gray-medium {
    color: var(--gray-medium);
}

.text.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}
