:root {
    --main-dark: #2a7b54;
    --main-light: #3bb770;
    --main-light-opacity: rgba(59, 183, 112, 0.2);

    --second-dark: #0e1724;
    --second-dark-opacity: rgba(42, 69, 107, 0.7);
    --second-darker-opacity: rgba(5, 18, 36, 0.7);
    --second-light: #456079;

    --black-darker: #000000;
    --black-medium: #0e1724;
    --black-light: #222;

    --gray-darker: #555;
    --gray-dark: #999;
    --gray-medium: #ddd;
    --gray-light: #eeeeee;
    --gray-lighter: #fafafa;

    --white: #fff;
    --white-opacity: rgba(255, 255, 255, 0.512);
    --yellow: #ffcc00;
    --red: #f52d56;
}
