:root {
    --main-light: #07e580;
    --main-lighter: #b4fcc7;
    --main-light-opacity: rgba(7, 229, 129, 0.604);

    --second-dark: #043c40;
    --second-dark-opacity: rgba(1, 78, 82, 0.894);
    --second-darker-opacity: rgba(2, 32, 34, 0.694);

    --black-darker: #151515;
    --black-medium: #0e1724;
    --black-light: #222;

    --gray-darker: #555;
    --gray-dark: #999;
    --gray-medium: #E2E2E2;
    --gray-light: #eeeeee;
    --gray-lighter: #fafafa;

    --white: #fff;
    --white-medium: #fafdfb;
    --white-opacity: rgba(255, 255, 255, 0.512);
    --yellow: #FFDA6F;
    --red: #ed673e;
    --green: #07e580;
    --purple: #9540ff;
    --purple-light: #D2C4FB;
}
